body {
    background: #97EFE9;
    color: #6A0F49;
    
}

h1{
    text-align: center;
    font-size: 4em;
    font-family: 'Rampart One',sans-serif;
}

.heading{
    text-align: center;
    font-size: 3em;
    font-family: 'Rampart One',sans-serif;
}
.heading.button{
  color: #6A0F49;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  background: #97EFE9;
  border: 2px solid #6A0F49;
  border-radius: 17%;
}

.button:hover {
    font-size: 4em;
}
.link{
    text-align: center;
}

a{
    font-size: 2em;
    font-family: 'Gloria Hallelujah',sans-serif;
}
a:hover {
    color: #2E0219;
}
a:visited{
    color: #6A0F49; 
}

.content{
    font-size: 2em;
    font-family: 'Gloria Hallelujah',sans-serif;
}

.img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

